<!-- Header banner start  -->
<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('assets/images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  "
>
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white" style="padding: 10%">
        <h1 class="Heading-text">
          Assisting Entrepreneurs To Reach Their Highest Potential
        </h1>
        <h4 class="sub-heading-text">
          Get started for free and start learning for free
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- header banner end  -->

<!--  button section start  -->
<div class="btn-group" style="width: 100%">
  <button style="width: 50%" (click)="goToStudentPage()">Student</button>
  <button style="width: 50%">Teacher</button>
</div>

<!-- button section end  -->

<!-- Our services section  -->

<h2>Our Services</h2>
<div class="hr-theme-slash-2">
  <div class="hr-line"></div>
  <div class="hr-icon">
    <i class="material-icons">grade</i>
  </div>
  <div class="hr-line"></div>
</div>
<div class="row" style="padding: 5%">
  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="assets/images/finance .png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Financiers</h5>
        <p class="card-text">
          One must possess specialized skills to deal with entrepreneurs,
          especially financiers. At IMED, our exclusive programs for financiers
          will help you build and specialize your skills to manage and serve
          entrepreneurs better.
        </p>
      </div>
    </div>
  </div>
  <div class="col order-5">
    <div class="card" style="width: 18rem">
      <img src="assets/images/startup.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Startups</h5>
        <p class="card-text">
          Turning your idea into a startup comes with a lot of challenges, and
          the journey to success can be risky and scary. This is why you need a
          reliable support team on your side like IMED to help you navigate your
          startup journey smartly so you can build your company at speed
        </p>
      </div>
    </div>
  </div>
  <div class="col order-1">
    <div class="card" style="width: 18rem">
      <img src="assets/images/youth.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Youth</h5>
        <p class="card-text">
          Interested in becoming an entrepreneur and starting your own venture?
          Start your journey with the best entrepreneur development centre in
          town that is the first to combine resources, network, experience and
          infrastructure to help you build the skills and confidence needed for
          success
        </p>
      </div>
    </div>
  </div>
</div>

<!-- end our services section  -->
